body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #daddde;
}

a {
    color: #007aff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0055b3;
    text-decoration: underline
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

.top-menu {
    /* display:flex; */
    height: 30px;
    background: #145296;
    padding: 10px 20px;
}

.media-object {
    width: auto;
    height: 30px
}

.navbar-brand {
    color: #fff;
    font-size: 20px;
    width: 60%;
    float: left;
    display: flex;
}

.time {
    width: 180px;
    float: right;
    color: #fff;
    line-height: 30px;
    font-weight: 700;
    font-size: 16px;
    /* text-align:right */
}

.content {
    margin: 0px 0px 10px 0px;
    background: #fff;
    padding: 10px 10px 0px 10px;
}

.title {
    font-size: 26px;
    margin-left: 20px;
    font-weight: 700;
    /* margin-bottom: 50px; */
    line-height: 26px;
}

.div-left {
    width: 58%;
    float: left;
    /* display:flex; */
}

.bg-camera {
    background: url('../img/bg-camera.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    min-height: 410px;
    border: 1px #ccc solid
}

.div-right {
    width: 42%;
    float: left;
}

.div-staff {
    width: 33.33333%;
    float: left;
    background: #cccc
}

.staff-avatar {
    float: left;
    background-color: #EAEAEA;
    padding: 5px 0 0 0;
    position: relative;
    border: 1px #ccc solid;
    width: 31.111111111%;
    float: left;
    margin: 0px 10px 10px 0;
    text-align: center;
    cursor: pointer;
}


/* from: http://stackoverflow.com/questions/796087/make-a-div-into-a-link */

.staff-avatar a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* edit: added z-index */
    z-index: 1;
    /* edit: fixes overlap error in IE7/8, 

     make sure you have an empty gif */
    background-image: url('empty.gif');
}

.staff-avatar:hover,
.staff-active {
    background-color: #0055B3;
    color: #fff
}

.clearfix {
    clear: both
}

.div-left img {
    /* width:100% */
    height: 92px;
}

.div-left p {
    font-weight: bold;
    padding: 0px;
    margin: 0px
}

.staff-avatar:active {
    background-color: #0055B3;
    top: +2px;
}

.form {
    /* display:flex; */
    margin: 18px 0 8px 0px;
    width: 100%;
    /* padding: 0px; */
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 5px 0 0px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px #ccc solid;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
   
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
    height: 80px;
    margin-bottom: 10px;

box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #dc5d52 5%, #c72415 100%);
	background-color:#f54838;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #C9282D;
}

.form .button1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #34a141;
    border: 0;
    margin-right: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
    /* height: 80px; */
box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #4CAF50  5%, #2b672e 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;

	
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #436990;
}

.form .button1:hover,
.form .button1:active,
.form .button1:focus {
    background: #C9282D;
}

.form .button2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #666;
    border: 0;
    margin-right: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .button2:hover,
.form .button2:active,
.form .button2:focus {
    background: #C9282D;
}

.div-70 {
    width: 70%;
    float: left
}

.div-30 {
    width: 28%;
    float: right
}

.w-170px {
    width: 170px;
}

.w-200px {
    width: 345px;
}

.w-80px {
    width: 100px;
}

.w-100 {
    width: 100%;
}

.w-49 {
    width: 49%;
    font-weight: 700;
}

.f-r {
    float: right
}

.f-l {
    float: left
}

.footer {
    text-align: center;
    margin: 0 20px;
}

.headoff {
    background: #145296;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}

.m-t40 {
    margin-top: 40px
}

.color1 {
    color: #34a141;
    border: 1px #34a141 solid;
    border-radius: 4px;
    padding: 10px 0px;
    text-align: center;
}

.color2 {
    color: #AF2327;
    border: 1px #AF2327 solid;
    border-radius: 4px;
    padding: 10px 0px;
    text-align: center;
}

.h-500 {
    max-height: 500px !important;
}

.show-password {
    position: absolute;
    left: 6px;
    top: 10%;
    font-size: 21px;
    font-weight: 700;
    color: #222;
    /* display: none; */
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.form-password {
    position: relative;
}

.form-password input {
    padding-left: 49px;
}

.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px)
}

@media screen and (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - (.5rem * 2));
    content: ""
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    /* opacity: .5 */
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
@media (max-width: 768px){
	.staff-avatar{
	width: 30.4%!important;
	}
	.div-left img {
    /* width: 100%; */
    height: 75px;
}
.title {
    font-size: 20px;
    margin-left: 20px;
    font-weight: 700;
    /* margin-bottom: 50px; */
    line-height: 26px;
}
	
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }
    .modal-dialog-centered::before {
        height: calc(100vh - (1.75rem * 2))
    }
    .modal-sm {
        max-width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 800px
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px
    }
}

#text_look_cam {
    margin-bottom: 0;
    font-size: 20px;
    color: #279a1f;
    font-weight: bold;
}

#CaptureCamera {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #136bbd;
    border: 0;
    margin-right: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 13px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
}

#CaptureCamera:hover {
    background: #0f5ea8;
}

.cap-sign-image {
    text-align: center;
    font-size: 17px;
}



#CapturePhoto {
    width: 100%;
}

#titleSignModal {
    font-size: 17px;
    color: #2e599a;
    text-decoration: underline;
}

.opacity-window {
    opacity: 0.8 !important;
}
.video{
	margin-top:0px!important
	
}